<div class="position-fixed d-flex flex-column position-absolute top-50 end-0 translate-middle-y me-4 col gap-3">
    <a class="row" href="https://api.whatsapp.com/send?phone=+522717071259&text=Hola, Mucho gusto.Te contacto desde tu web, Me gustaria que me dieras mas información..." target="_blank">
        <i class="bi bi-whatsapp display-5 whatsapp"></i>
    </a>
    <a class="row" href="https://www.facebook.com/profile.php?id=100088791706909" target="_blank">
        <i class="bi bi-facebook display-5 facebook"></i>
    </a>
</div>
