<div class="conteiner-fluid position-relative pt-5 border-top">
    <div class="d-flex gap-3 w-100 flex-column flex-lg-row justify-content-between  py-5">
        <div class="col d-flex flex-column justify-content-center align-items-center">
            <h4 class="subtitulo_letra fs-2">Información de contacto</h4>
            <div>
                <p class="letra_contenido fs-5 m-0">
                    <span class="fw-bold">
                        Número: 
                    </span>
                    271-707-1259
                </p>
                <p class="letra_contenido fs-5 m-0">
                    <span class="fw-bold">
                        Email: 
                    </span>
                    angelvallejop9610@gmail.com
                </p>
                <p class="letra_contenido fs-5 m-0">
                    <span class="fw-bold">
                        Localidad: 
                    </span>
                    Estado de Veracruz
                </p>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <h4 class="text-center subtitulo_letra fs-2">Proyectos Importantes</h4>
            <div class="card pointer-events" style="width: 19rem;">
                <img src="../../../assets/source/img3.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Implementación de un programa de escritorio para automatizar el desarrollo de reportes en excel para analisis de datos.</p>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary w-50 m-2 " type="button">Información</button>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h4 class="subtitulo_letra fs-2">Valores</h4>
                <ol>
                    <li class="letra_contenido fs-5">Innovación</li>
                    <li class="letra_contenido fs-5">Precisión</li>
                    <li class="letra_contenido fs-5">Adaptación</li>
                    <li class="letra_contenido fs-5">Colaboración</li>
                    <li class="letra_contenido fs-5">Ética Profesional</li>
                </ol>
        </div>
    </div>
    <div class="d-flex border-top py-3">
        <div class="d-flex gap-3 align-items-center container">
            <div class="d-flex gap-2 justify-content-center align-items-center">
                <button class="btn btn-dark align-items-center px-2 py-0 d-flex gap-2">
                    <i class="bi bi-twitter t_icon"></i>
                    <cite class="m-0">Twitter</cite>
                </button>
            </div>
            <div class="d-flex gap-2 justify-content-center align-items-center">
                <button class="btn btn-dark align-items-center px-2 py-0 d-flex gap-2">
                    <i class="bi bi-card-list t_icon"></i>
                    <cite class="m-0">Blog</cite>
                </button>
            </div>
            <div class="d-flex gap-2 justify-content-center align-items-center">
                <button class="btn btn-dark align-items-center px-2 py-0 d-flex gap-2">
                    <i class="bi bi-file-earmark-person t_icon"></i>
                    <cite class="m-0">Curriculum</cite>
                </button>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-end pe-5 align-items-center">
            <div>
                <i class="bi bi-c-circle"></i>
                <cite>
                    Todos los derechos reservador 2023
                </cite>
            </div>
        </div>
    </div>
</div>
