<div class="bg-primary apartado_principal_proyectos">
    <div class="f-flex position-absolute top-0 bottom-0 justify-content-evenly mh-75">
        <div class="d-flex">
            <div class="w-100 d-block mh-100">
                <h2 class="subtitulo_letra">
                    "Los retos son los que hacen la vida interesante; superarlos es lo que hace que la vida tenga sentido." <br>
                    <span class="fs-5 fst-italic">
                        Joshua J. Marine
                    </span>
                </h2>
            </div>
            <div class="w-100 bg-light mh-100">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt obcaecati totam, iste quos a sit neque, nulla molestias voluptates veritatis nobis placeat dolores inventore non. Perspiciatis, ex id! Pariatur facere, dolorem fuga minus soluta aliquid.
            </div>
        </div>
    </div>
</div>
